.jjj{
    height: 380px;
    border: 1px solid black;
    background-color: white;
    margin-top: 5px;
}
.ppp{
     display: flex;
     justify-content: center;
     margin-top: 10px;

}
.uuu{
    font-size: 25px;
    align-items: center;
    text-align: center;
}
.www{
    font-size: 100px;
}
.vvv{
    display: flex;
    height: 300px;
    width: 300px;
    margin-right: 20px;
}