.nx{
    height: 700px;
    background-color:blanchedalmond;
    border: 1px solid black;
   
}
.pp{
   
    height: 200px;
    width: 190px;
   display: flex;
    
   
}
.ex{
    margin-top: 20px;
    margin-left: 20px;
}

.dd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.rx{
    height: 150px;
    width: 240px;
    background-color:aquamarine;
    border: 1px solid black;
}
.tx{
    height: 150px;
    width: 240px;
    background-color:aquamarine;
    border: 1px solid black;
}
.wx{
     height: 150px;
    width: 240px;
    background-color:aquamarine;
    border: 1px solid black;
}
.ji{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-top: 10px;
}
.vv{
    font-size: 30px;
    margin-left: 100px;
}
.rx:hover{
    background-color:whitesmoke;
    box-shadow: 10px 20px 30px;
    transform: translatey(-15px);
}
.tx:hover{
     background-color:whitesmoke;
    box-shadow: 10px 20px 30px;
    transform: translatey(-15px);
}
.wx:hover{
    background-color:whitesmoke;
    box-shadow: 10px 20px 30px;
    transform: translatey(-15px);
}